<div class="carousel-wrapper">
    <button class="carousel-btn prev">&lt;</button>
    <div class="carousel-container">    
        <div class="carousel-track">
            {% for componente in componentes %}
            <div class="card_carousel">
                <a href="{% url 'detalle_producto' componente.id %}" class="card-link">
                    <img src="{{ componente.imagen_url }}" alt="{{ componente.modelo }}">
                    <h3>{{ componente.marca }} {{ componente.modelo }}</h3>
                    <p><strong>Precio:</strong> ${{ componente.precio }}</p>                  
                </a>
                <div class="card-footer">
                    <form action="{% url 'agregar_al_carrito' componente.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="cantidad" value="1">
                        <button class="add-to-cart" type="submit">Agregar al carrito</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="carousel-btn next">&gt;</button>
</div>
