{% extends 'base.html' %}

{% load static %}

{% block title %}Componentes{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block contenido %}
    <h1>Catálogo de Componentes</h1>
    <div style="display: flex; flex-wrap: wrap;">
        {% for componente in componentes %}
            <div class="card">
                <a href="{% url 'detalle_producto' componente.id %}" class="card-link">
                    <img src="{{ componente.imagen_url }}" alt="{{ componente.modelo }}">
                    <h3>{{ componente.marca }} {{ componente.modelo }}</h3>
                    <p><strong>Precio:</strong> ${{ componente.precio }}</p>
                    <button class="add-to-cart">Agregar al carrito</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
