{% extends 'base.html' %}
{% block title %}{{ componente.marca }} {{ componente.modelo }}{% endblock %}

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">
<script src="{% static 'js/detalle_producto.js' %}" defer></script>
<script>
  const CARRUSEL_URL = "{% url 'carrusel_componentes' %}";
</script>
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="detalle-producto-card">
    <img src="{{ componente.imagen_url }}" alt="{{ componente.modelo }}">
    
    <div class="detalle-info">
        <h1>{{ componente.marca }} {{ componente.modelo }}</h1>
        <p><strong>Stock:</strong> {{ componente.stock }}</p>
        <p><strong>Precio:</strong> ${{ componente.precio }}</p>
        
        <div class="cantidad-control" data-stock="{{ componente.stock }}">
            <button type="button" id="btn-restar" class="cantidad-btn" onclick="cambiarCantidad(-1)">-</button>
            <input type="number" id="cantidad" value="1" min="1" max="{{ componente.stock }}" readonly>
            <button type="button" id="btn-sumar" class="cantidad-btn" onclick="cambiarCantidad(1)">+</button>
        </div>

        <form action="{% url 'agregar_al_carrito' componente.id %}" method="post" onsubmit="return actualizarCantidadHidden()">
            {% csrf_token %}
            <input type="hidden" name="cantidad" id="cantidad-hidden" value="1">
            <button class="agregar-carrito-btn" type="submit">Agregar al carrito</button>
        </form>
    </div>
</div>

<h1>Tambien te puede interesar</h1>
<div class="carrusel-wrapper" id="carrusel-wrapper"></div>

{% endblock %}
